* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Pangolin";
}

/* UiGradients Code  */
body {
  background: #1d976c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93f9b9, #1d976c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93f9b9, #1d976c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.headings {
  text-align: center;
  padding-top: 15px;
}

#title {
  text-align: center;
  padding-top: 60px;
}

#color-palette {
  text-align: center;
  padding-top: 15px;
}

.color {
  border: black solid 1px;
  width: 45px;
  height: 45px;
  display: inline-block;
}

.color:hover {
  cursor: pointer;
}

#one {
  background-color: black;
}

#two {
  background-color: green;
}

#three {
  background-color: red;
}

#four {
  background-color: yellow;
}

#pixel-board {
  text-align: center;
  padding-top: 10px;
}

.li {
  height: 43px;
}

.pixel {
  border: black solid 1px;
  margin-right: 1px;
  height: 40px;
  width: 40px;
  display: inline-block;
  background-color: white;
}

.pixel:hover {
  cursor: pointer;
}

.color-selected {
  border: black solid 1px;
  width: 40px;
  height: 40px;
  margin-right: 1px;
}

.container-button {
  text-align: center;
  width: 100%;
  padding-top: 30px;
}

#clear-board {
  width: 100px;
  height: 30px;
  border-radius: 6%;
}

.container-input {
  padding-top: 10px;
  text-align: center;
}

#board-size {
  width: 160px;
  height: 30px;
  border: black solid 1px;
  text-align: center;
}

#generate-board {
  width: 50px;
  height: 33px;
  border-radius: 6%;
}

