* {
  margin: 0;
  padding: 0;
  border: 0;
}

#title {
  text-align: center;
  padding-top: 30px;
}

#color-palette {
  text-align: center;
  padding-top: 50px;
}

.color {
  border: black solid 1px;
  width: 45px;
  height: 45px;
  display: inline-block;
}

.color:hover {
  cursor: pointer;
}

#one {
  background-color: black;
}

#two {
  background-color: green;
}

#three {
  background-color: red;
}

#four {
  background-color: yellow;
}

#pixel-board {
  text-align: center;
  padding-top: 50px;
}

.linha1 , .linha2 , .linha3 , .linha4 , .linha5 {
  height: 43px;
}

.pixel {
  border: black solid 1px;
  margin-right: 1px;
  height: 40px;
  width: 40px;
  display: inline-block;
  background-color: white;
}
